* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url("../images/background-disco.jpg");
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aquamarine;
    font-family: "Monoton", sans-serif;
}

h1, h2{
    text-align: center;
    font-size: 300%;
}

footer {
    position: fixed;
    
    
    font-family: "Varela Round", sans-serif !important;
    font-size: 100%;
}

#results-message {
  font-family: "Varela Round", sans-serif !important;
}

/* Image Choice */

.choices {
  margin: 50px;
  text-align: center; 
}

.choice {
  display: inline-block;
  padding: 30px;  
}

.choice:hover {
  cursor: pointer;
}

/* Results Section */

#results-message {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}

.player {
  display: inline-block;
  text-align: center;
  float: left;
  margin-left: 150px;
  border: 5px solid white;
  padding: 5px;
  background-color: #FF82A8;
  

  
}


.computer{
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 150px;
  border: 5px solid white;
  padding: 5px;
  background-color: #A480F2;
  
}




/* How To Play Modal Box */

#myBtn {
  background-color: #A480F2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  float: none;
  font-family: "Monoton", sans-serif;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  margin: 125px;
 
}

.modal {

    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);   
  }
  
  .modal-content {
    font-family: "Varela Round", sans-serif;
    background-color: #F9EAFF;
    margin: 15% auto; 
    padding: 20px;
    border: 4px solid white;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Video Clip */

  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Get In Touch Modal Box */

  #contactBtn {
    background-color: #A480F2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-family: "Monoton", sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    margin: 50px 125px 50px 125px;
   
  }
  
  .modal-contact {
  
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4);   
    }
    
    .modal-contact-content {
      font-family: "Varela Round", sans-serif;
      background-color: #F9EAFF;
      margin: 15% auto; 
      padding: 20px;
      border: 4px solid white;
      width: 50%; 
      height: 50%;
    }
    
    .close-contact {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close-contact:hover,
    .close-contact:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* Contact Form */

    .text-input {
      height: 40px;
      width: 100%;
      margin: 5px 0 20px 0;
      border: 1px solid white;
      border-radius: 2px;
    }

    .submit-button {
      border-radius: 25px;
      padding: 10px 20px 10px 20px;
    }